extends ../layouts/base-layout


//- include ../offers
//- include ../advantages
//- include ../example

block vars
  -pageSettings.title = "Very Главная";


block content
  include ../header
  //- +intro
  //- +offers
  //- +advantages
  //- +example