@import "mixins";
@import "vars";
@import "null";
@import "fonts";
@import "blocks/header";


//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

.header {
}
.container {
}
.header__top {
}
.header__logo.logo {
}
.header__need {
}
.header__stock.stock {
}
.stock__core {
}
.stock__attantion {
}
.header__advantages.advantages {
}
.advantages__list {
}
.advantages__list-item {
}
.advantages__item-num {
}
.advantages__item-text {
}
.advantages__form.form {
}
.advantages__button.button {
}