.header {
    color: #fff;
    position: relative;
    min-height: 100vh;
    background: url("../img/header-after-img.png") bottom center no-repeat fixed,
                 url("../img/header-img.jpg") 50% 0% no-repeat;
    &__top {
        padding-top: rem(20);
        font-size: rem(30);
    }
    
}