header.header
    .container

        .header__top
            .header__logo(class='logo')
            p.header__need Хотите иметь свой участок в Подмосковье?
            
            
        .header__stock(class='stock')
            p.stock__core Акция в Январе - 30% скидка на землю и коммуникации в п. Владимировка
            p.stock__attantion Внимание! Осталось 63 участка из 215!
            
        .header__advantages(class='advantages')
            .advantages__list
                .advantages__list-item
                    p.advantages__item-num 01.
                    p.advantages__item-text 50 минут езды от Москвы                
                .advantages__list-item
                    p.advantages__item-num 02.
                    p.advantages__item-text 55 км от МКАД по Новорязанскому шоссе
                .advantages__list-item
                    p.advantages__item-num 03.
                    p.advantages__item-text Разрешение для дачного строительства с правом возведения жилого дома, регистрации и проживания
            
            .advantages__form(class='form')
            
            a.advantages__button(class='button' href='#') Перезвоните мне